@import "./global";

header{
    background: rgba(255, 255, 255, 0.24);
  border-radius: 0 0 16px 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10.3px);
  -webkit-backdrop-filter: blur(10.3px);
  border: 1px solid rgba(255, 255, 255, 0.07);
  @extend .flex;
  justify-content: space-between;
  padding: 27px 17px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;


  .logo{
    font-size: 33px;
    color: $text-color;
    font-weight: 700;

    span{
        color: $main-color;
    }
  }
// navbar
.navbar{
    @extend .flex;

    a{
        font-size: $p-font;
        font-weight: 500;
        margin: 15px 22px;
        text-transform: uppercase;
        padding: 10px;
        display: block;
        @extend .transition;
        &:hover{
            color: $main-color;
        }
    }
}
// header right
.header-right{
    @extend .flex;
    
a{
    font-size: 20px;
    margin-right: 18px;
    margin-left: 5px;
    @extend .transition;
    &:hover{
        color: $main-color;
    
    }
}
a:first-child{
    font-size: $p-font;
    margin-right: 20px;
}
#menu-btn{
    display: none;
}
}
}

@media (max-width: 1300px){
    #menu-btn{
        display: block !important;
    }
.navbar.open{
    display: flex;
    top: 120%;
}

    .navbar{
        position: fixed;
        right: 10px;
        top: -450%;
        display: none;
        flex-direction: column;
        gap: 10px;
        padding: 20px 0;
        background: rgba(255, 255, 255, 0.24);
        border-radius: 16px;
        box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
        backdrop-filter: blur(10.3px);
        -webkit-backdrop-filter: blur(10.3px);
        border: 1px solid rgba(255, 255, 255, 0.07);
      
}
.navbar .open{
    display: flex;
}
}

@media (max-width: 800px){
    .header-right a{
        display: none;
    }
    #menu-btn{
        display: block;
    }
}